* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    grid-template-areas: "header"
                        "menu"
                        "main"
                        "productos"
                        "footer";
    grid-template-rows: auto auto 1fr auto auto;
    grid-template-columns: 1fr;
}

header {
    grid-area: header;
    background-color: #FFF9C4;
    padding: 0.5rem;
}

header h2 {
    color: black;
    text-align: center;
    font-size: 1.1rem;
    font-weight: normal;
}

nav {
    grid-area: menu;
    background-color: #003366;
    padding: 1.8rem;
}

nav ul {
    list-style: none;
    text-align: center;
    display: flex; /* Mantengo el display: flex para alinear los elementos en fila */
    justify-content: center; /* Cambié para que los elementos queden centrados, no tan separados */
    align-items: center;
    padding: 0;
}

nav ul li {
    display: inline-block; /* Asegura que los elementos se alineen como bloque en línea */
    margin: 0 1.8rem; /* Márgenes ajustados para mantener la separación */
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}

nav ul li a:hover {
    color: greenyellow;
    background-color: #00509e;
}

li:last-child {
    display: flex; /* Flex para alinear el icono y el contador */
    align-items: center; /* Centra el contenido verticalmente */
    justify-content: center;
}

li:last-child a {
    border: none;
    padding: 0.5rem;
    position: relative;
}

li:last-child a:hover {
    border-radius: 50%;
}

.count {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 12px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding: 0 0.25rem;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
}



main {
    grid-area: main;
    background: linear-gradient(to right, #1a73e8, #0d47a1);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: lighten;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
}

main h1 {
    font-size: 3.5rem;
    font-weight: 700;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    margin-bottom: 2.5rem;
}

main p {
    font-size: 1.5rem;
    color: #ffffff;
    font-weight: 300;
    max-width: 1200px;
    margin: 0 auto;
    line-height: 1.6;
}

section {
    grid-area: productos;
    text-align: center;
    padding: 2rem;
}

section h2 {
    font-size: 2rem;
    color: #2c3e50;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem;
    margin-top: 2rem;
}

.card {
    width: 30%;
    border-radius: 10px;
    padding: 0;
    text-align: center;
    transition: transform 0.3s;
    margin-bottom: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    display: inline-block;
    vertical-align: top;
}

.card a {
    text-decoration: none;
}

.card img {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: contain;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.card:hover {
    transform: translateY(-5px);
}

.item {
    margin-top: 1rem;
}

.item h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 0.5rem;
}

.item p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    color: #7f8c8d;
    line-height: 1.5;
    margin-top: 0.5rem;
}

.price {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    color: black;
    margin-top: 0.5rem;
}

.card .agregar-carrito {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
    margin-top: 10px;
    text-decoration: none;
    width: 100%;
}

.card .agregar-carrito:hover {
    background-color: #2980b9;
}

.agregar-carrito-link {
    text-decoration: none;
    color: white;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.btn:hover {
    background-color: #0056b3;
}


.add-to-cart {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.add-to-cart:hover {
    background-color: #0056b3;
}






/* Estilo general de la sección del carrito */
#carrito {
    padding: 2rem;
    background-color: #f4f4f4;
    border-radius: 10px;
    max-width: 800px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#carrito h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    color: #2c3e50;
    margin-bottom: 1rem;
}





/* Tabla del carrito */
#tabla-carrito {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

#tabla-carrito th, #tabla-carrito td {
    padding: 10px;
    text-align: center;
    border: 3px solid #ddd;
}

#tabla-carrito th {
    background-color: #f2f2f2;
}

#tabla-carrito td .btn-eliminar {
    background-color: none;
    color: black;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Total de la compra */
#total-compra {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 20px;
    text-align: right;
}

/* Botones */
.botones {
    text-align: right;
    margin-top: 20px;
}

.botones button {
    padding: 10px 20px;
    font-size: 1rem;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-weight: bold; /* Letras gruesas */
    border: none; /* Eliminados los bordes */
    border-radius: 25px; /* Bordes más ovalados */
}

/* Botón Vaciar Carrito */
.vaciar-carrito {
    background-color: #a7c7e7; /* Celeste claro */
    color: white;
}

.vaciar-carrito:hover {
    background-color: #7bb9d1; /* Celeste más oscuro */
    transform: scale(1.05);
}

/* Botón Comprar */
.comprar {
    background-color: blue; /* Azul oscuro */
    color: white;
}

.comprar:hover {
    transform: scale(1.05);
}















/* Estilos adicionales */
#resenas {
    text-align: center;
    padding: 2rem;
}

.resenas-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.resena {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    max-width: 600px;
    width: 100%;
}

#resenas h2 {
    font-size: 2rem;
    color: #2c3e50;
    margin-bottom: 3rem;
}

.resena img {
    width: 50%;
    max-width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
}

#sobre-nosotros {
    background-color: #f0f8ff;
    padding: 3rem 1.5rem;
    border-radius: 10px;
    margin: 2rem 0;
}

#sobre-nosotros h2 {
    font-size: 2rem;
    color: #2c3e50;
    text-align: center;
    margin-bottom: 2rem;
}

.sobre-nosotros-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    max-width: 1000px;
    margin: 0 auto;
}

.imagen-sobre-nosotros {
    flex: 1;
    display: flex;
    justify-content: center;
    margin-left: 4rem;
}

.imagen-sobre-nosotros img {
    width: 120%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.texto-sobre-nosotros {
    flex: 1;
    font-size: 1.2rem;
    color: #555;
    line-height: 1.6;
    text-align: justify;
}

@media screen and (max-width: 1024px) {
    .sobre-nosotros-content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

    .imagen-sobre-nosotros {
        margin-left: 0;
    }

    .imagen-sobre-nosotros img {
        width: 100%;
        max-width: 400px;
    }

    .texto-sobre-nosotros {
        font-size: 1rem;
        color: #555;
        line-height: 1.6;
        text-align: justify;
        width: 90%;
        margin: 0 auto;
    }

    #sobre-nosotros h2 {
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }
}

#donde-nos-encontras {
    background-color: #f0f8ff;
    padding: 3rem 1.5rem;
    border-radius: 10px;
    text-align: center;
    margin: 2rem auto;
    max-width: 800px;
}

#donde-nos-encontras h2 {
    font-size: 2rem;
    color: #2c3e50;
    margin-bottom: 1rem;
}

#donde-nos-encontras h3 {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 2rem;
}

.mapa-container {
    width: 100%;
    height: 400px;
    margin-top: 2rem;
    border-radius: 10px;
    overflow: hidden;
}

.mapa-container iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

#preguntas-frecuentes {
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
}

#preguntas-frecuentes h2 {
    font-size: 2rem;
    color: #2c3e50;
    margin-bottom: 2rem;
    text-align: center;
}

#formulario-contacto {
    background-color: #f9f9f9;
    padding: 2rem;
    border-radius: 10px;
    margin-top: 2rem;
}

#formulario-contacto h2 {
    font-size: 2rem;
    color: #2c3e50;
    margin-bottom: 2rem;
    text-align: center;
}

#formulario-contacto form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#formulario-contacto input,
#formulario-contacto textarea {
    width: 100%;
    padding: 1rem;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#formulario-contacto button {
    background-color: #3498db;
    color: white;
    padding: 1rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#formulario-contacto button:hover {
    background-color: #2980b9;
}



.ocultar-carrito {
    display: none;
}






footer {
    background-color: #333;      
    padding: 20px 0;             
    display: flex;            
    justify-content: center;     
    align-items: center;     
    width: 100%;                  
    height: auto;               
}

.footer-content 
{
    display: flex;               
    flex-direction: column;       
    justify-content: center;      
    align-items: center;         
    text-align: center;         
    width: 100%;                 
    max-width: 850px;            
}

.copyright-line 
{
    font-size: 14px;            
    color: #fff;                 
    margin: 5px 0;                
    line-height: 1.5;             
    word-wrap: break-word;      
    white-space: normal;         
}
